/* Changing default body design */
*{
    margin: 0;
    padding: 0;    
}

body{
    background-color: black;
}

/* Main calculation section styles */
.main{    
    text-align: center;
}

.main label{
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    font-weight: 900;
    color: white;
}
.main input{
    height: 30px;
    width: 200px;
    border: none;
    background-color: white;
    border-radius: 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    color:black ;
}

.main button{
    height: 30px;
    width: 200px;    
    color: red;
    background-color: white;
    border-radius: 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: medium;        
    border: none
}

img{
    color: white;
}